{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
    <!-- <div class="alert alert-{{category}}" style="opacity: 0.5;" role="alert">
        {{message}}
    </div> -->
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert" style="opacity: 0.6;">
      <strong>{{message}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}