{% extends "layout.html" %}




{% block body %}

    <div class= "container" style="background-color: rgba(255, 255, 255, 0.6); padding: 30px; font-size: 17px;">

        <h3>Hakkımızda</h3>

        <a href="#" style="margin-top: 90px;" class="clearfix float-right">
            <img src="{{imgGetir("mobil_logo.png")}}" alt="" class="" style="width: 220px;">
          </a>

        <hr><br><br><br>  

        <p>Öncelikle Seracker ismi nereden geliyor? Nabız takibinin İngilizce karşılığı olan pulse(nabız)” SE” ve tracker(takip)” RACKER” kelimelerinden geliyor. Gördüğümüz tasarımlarda ne eksik ne fazla onları inceleyip hepsini bir projede birleştirip tabi kendimizce bazı özellikler de ekleyerek Seracker’ı geliştirdik. Seracker Bandı, kola takılıp kişinin anlık nabız verilerini alabilen bir cihazdır. Seracker’ın mobil uygulaması ise grup oluşturarak veri paylaşabildiğiniz sosyal bir platformdur; grubunuza eklediğiniz diğer bireyler sizin verilerinize göz atabilir, siz de sizi ekleyen diğer kişilerin verilerine göz atabilirsiniz. Ayrıca nabız ve adım verileri anlık olarak takip edilebiliyor. Web sitesinden de mobil uygulamayla ilgili çoğu özelliğe erişebilir ve farklı olarak tahlillerinizi de PDF formatında yükleyebilirsiniz. </p>
        <br>
        <p>İlk fikir “Sağlık sorunları olan aile bireyi veya arkadaşın var ise onun ile her zaman iletişimde olabilir miyiz?” ile başladı. Biz de bu fikri alarak nasıl geliştirebiliriz diye düşündük. Taramalar ve sağlık alanında araştırmalar yaptık sonucunda da böyle bir sistem tasarladık.</p>
        <br>
        <p> Bu çalışmada dört arkadaş yola çıktık. Mobil uygulama kısmında Recep Kılıç ve Serkan Çalkay ilgilenirken Seracker cihazını arduino ile tasarlama kısmında Necmi Güven bulunmaktadır. Web kısmında ise Volkan Yavaş ve Necmi Güven bulunmaktadır. Ekipçe sürekli iletişim halinde ve birlikte ilerleyerek sistemimizi geliştirdik.</p>



    </div>




{% endblock body %}