{% extends "layout.html" %}


<style>
    {% block css %}




    
    {% endblock css %}

</style>



{% block body %}


<div class="container">


    <div id="accordion">

        <div class="card">

            <div class="card-header">
                <a href="#collapseTwo" class="card-link" data-toggle="collapse">
                    <h3>Şifre Değiştir</h3>
                </a>
            </div>

            <div id="collapseTwo" class="collapse show" style="background: transparent;" data-parent="#accordion">

                <div class="card-body" >
                    <div class="form-group">

                            
                    
                        <div>
                
                            <form method="post" class="form-group form-content">

                
                                <div class="oldPass form-group block w-50">
                                    <label for="oldPass" class="form-text">Mevcut Şifre:</label>
                                    <input type="password" name="oldPass" class="form-control" placeholder="Mevcut Şifrenizi Giriniz.">
                                </div>
                                
                                <div class="newPass form-group block w-50">
                                    <label for="newPass" class="form-text">Yeni Şifre:</label>
                                    <input type="password" name="newPass" class="form-control" placeholder="Yeni Şifre Giriniz." >
                                </div>

                                <div class="newPass_again form-group block w-50">
                                    <label for="newPass_again" class="form-text">Yeni Şifre Tekrar:</label>
                                    <input type="password" name="newPass_again" class="form-control" placeholder="Yeni Şifreyi Tekrar Giriniz." >
                                </div>

                                <br>
                                <button type="submit" class="btn btn-danger mt-4" name="submit_button" value="sifreDegistir">Değistir</button>
                                
                            </form>
                </div>

            </div>


        </div>

    </div>

</div>


{% endblock body %}

















