{% extends "layout.html" %}

<style>
{% block css %}

.bilgi{

    margin-top: 0px;;
}

.icerik{

    padding: 70px;

    background-color: rgba(255, 255, 255, 0.3);
}





{% endblock css %}
</style>


{% block body %}

{% from "includes/formhelpers.html" import render_field %}

<div class="container " >
    
           
    <div class="row icerik">
        <img src="{{bg}}" alt="">
       
        <div class="col-md-5 "style="margin-top: 250px">
           
                
               
            <form method = "POST" class="form-group">
                
                {{ render_field(form.email,class= "",class="form-control", placeholder="E-posta adresinizi giriniz.") }}
                {{ render_field(form.password,class="form-control",placeholder="Şifrenizi giriniz.") }}
            
            
        
                <button type="submit" class="btn btn-danger mt-4">Giriş Yap</button>
            </form>
            
            
                
                 
                 
                <!-- <a href="register.html" class="float-right text-white gre">Kayıt Ol</a> -->
                 
            
                <!-- <div class="form-group">
                   
                    <label for="tc"  class="text-white">TC Kimlik No</label>
                    <input type="text" id="tc" class="form-control" placeholder="TC kimliğinizi giriniz.">
                    
                </div>
                <div class="form-group">
                   
                    <label for="password" class="text-white">Şifre</label>
                    <input type="password" id="password" class="form-control" placeholder="Şifrenizi giriniz.">
                    
                </div>
                
                 <button class="btn btn-primary" type="button">Giriş</button>
                 
                 <a href="register.html" class="float-right text-white gre">Kayıt Ol</a> -->
                 
        </div>
        
         <div class="col-md-7 px-5 bilgi">
            <div class="img" style="margin-left: 65px; width: 600px;">

                <img src="{{imgGetir("login_image.png")}}" style=""  alt="" >

            </div>
            
            
           
        </div>
       
    </div>
   
</div>








{% endblock body %}