{% extends "layout.html" %}

{% block css %}

{% endblock css %}


{% block body %}


<button data-toggle="modal" data-target="#myModal" style="color: green; font-weight: bold;" class="">Onayla</button>

<div class="modal" id="myModal">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h3>Yakınlık İsteği Onayla</h3>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit.
            </div>
            <div class="modal-footer">

                Lorem, ipsum.


            </div>

        </div>

    </div>

</div>


{% endblock body %}